<div class="cyan" id="navbar">  
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo cyan-text text-lighten-2">Shiggle Shiggles</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="white-text" href="#login">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
