{{> navbar}}

<main>
    <div class="section">
      <div class="container">
        <h1 class="header center cyan-text text-lighten-2">Shiggle Shiggles</h1>
        <div class="row center">
          <h5 class="header col s12 light">Decision making with a twist!</h5>
        </div>
        <div class="row center">
          <a href="#login" class="btn-large waves-effect waves-light cyan lighten-1">Join now!</a>
        </div>


      </div>
    </div>


    <div class="container">

        <div class="row">
            <br>
            <br>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center cyan-text">
                     <i class="material-icons">favorite</i>
                    </h2>
                    <h5 class="center">Blah</h5>
                    <p class="light center">Blah blah blah</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center cyan-text">
                        <i class="material-icons">mood</i>
                    </h2>
                    <h5 class="center">Blah</h5>
                    <p class="light center">Blah blah blah</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center cyan-text">
                        <i class="material-icons">chat</i>
                    </h2>
                    <h5 class="center">Blah</h5>
                    <p class="light center">Blah blah blah</p>
                </div>
            </div>

        </div>
        <br>
        <br>

    </div>
</main>


{{> footer}}
