body {
	background-color: #DCC7AA !important;
}

#leadertitle, .item {
	color: #F7C331 !important;
}

h3, #siteName, #userQuestion {
	text-align: center;
}

#leaderboard {
	background-color: #687A8F !important;
}

#submitBtn, #voteBtn, #guessBtn, #historyBtn {
	color: black;
	margin-left: 100px !important;
}

#loginBtn{
	text-align: center !important;
}

#choiceBtn {
	left: 10px !important;
}

#choices {
	padding-left: 240px !important; 
}

.column {
	border-right: 5px black !important;
}

/*Submit page*/
#questionForm {
	text-align: center !important;
}

#formInput {
	padding-top: 25px !important;
}

#questionBtn {
	margin-top: 250px !important;
}