<div id="modal1" class="modal">
    <div class="container">
        <div class="row">
            <form>
                <div class="row">
                    <br>
                    <div class="input-field col s12">
                        <input id="submit-choice1" type="text" class="validate">
                        <label for="submit-choice1">Username</label>
                    </div>
                    <br>
                    <div class="input-field col s12">
                        <input id="submit-choice2" type="text" class="validate">
                        <label for="submit-choice2">Password</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
    </div>
</div>