{{> usernavbar}}

  <main>
	<h1 class="header center cyan-text text-lighten-2" id="userQuestion">Submit a question!</h2>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="submit-question" type="text" class="validate">
                        <label for="submit-question">Question</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="submit-choice1" type="text" class="validate">
                        <label for="submit-choice1">Choice 1</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="submit-choice2" type="text" class="validate">
                        <label for="submit-choice2">Choice 2</label>
                    </div>
                </div>
                <div class="center">
                    <a class="cyan waves-effect waves-light btn">Submit</a>
                </div>
            </form>
        </div>
    </div>
  </main>

{{> footer}}
